//global
$max-width: 1200px;

//breakpoint

$breakpoint-sm: 320px;
$breakpoint-med: 768px;
$breakpoint-lg: 1024px;

//fonts

$font-url--google: 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700';
$main-font: 'Playfair Display', serif;

//transitions
$tr-time: 1s;
$tr-time--fn: ease-in-out;
